<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>


  <database>
    <provider name="DEV" />
    <dataSource name="SIC" connectionString="Data Source=localhost; Initial Catalog=VFMDevengados; Integrated Security=True;"/>
    <!--<dataSource name="SIC" connectionString="Data Source=AVAZQUEZA\SQLEXPRESS; Initial Catalog=VFMDevengados; User ID=sa; Password=vfmocsisAdmin.853"/>-->

  </database>

  <sqlMaps>
    <sqlMap resource="BD/Consultas.xml" />
  </sqlMaps>
</sqlMapConfig>